<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Sale System</title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div th:replace="/header :: head"></div>
<div class="g-doc">
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <h2>已购买的内容</h2>
    </div>

    <div class="n-result" th:if="${#lists.isEmpty(orders)}">
        <h3>暂无内容！赶紧买买买！！！</h3>
    </div>

    <table class="m-table m-table-row n-table g-b3" th:if="${not #lists.isEmpty(orders)}">
        <thead>
            <tr><th></th><th>商品名称</th><th>购买时间</th><th>购买数量</th><th>购买价格</th></tr>
        </thead>
        <tbody>
        <tr th:each="order:${orders}">
            <td><a th:href="'/show?id='+${order.commodity.id}"><img th:src="${order.commodity.image}" alt=""></a></td>
            <td><h4><a th:href="'/show?id='+${order.commodity.id}" th:text="${order.commodity.title}"></a></h4></td>
            <td><span class="v-time" th:text="${order.time}"></span></td>
            <td><span class="v-num" th:text="${order.quantity}"></span></td>
            <td><span class="v-unit">¥</span><span class="value" th:text="${order.price}"></span></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><div class="total">总计：</div></td>
                <td><span class="v-unit">¥</span><span class="value" th:text="${total}"></span></td>
            </tr>
        </tfoot>
    </table>
</div>
<div th:replace="/footer :: foot"></div>
</body>
</html>