<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>Sale System</title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 引入公共部分header，不能以"/"开头，否则发布后会报错，无法访问/xxx -->
<div th:replace="common/header :: head"></div>
<div class="g-doc">
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <div class="tab">
            <ul>
                <li th:class="${type == 0 ? 'z-sel':'z-notSel'}"><a href="/">所有商品</a></li>
                <li th:class="${type == 0 ? 'z-notSel':'z-sel'}"><a href="/?type=1" sec:authorize="hasRole('ROLE_CUSTOMER')">未购买商品</a></li>
            </ul>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(commodities)}">
        <div class="n-plist">
            <ul class="f-cb" id="plist">
                <li th:each="commodity:${commodities}" th:id="'p-'+${commodity.id}">
                    <a th:href="'/show?id='+${commodity.id}" class="link">
                        <div class="img"><img th:src="${commodity.image}" th:alt="${commodity.title}"></div>
                        <h3 th:text="${commodity.title}"></h3>
                        <div class="price">
                            <span class="v-unit">¥</span>
                            <span class="v-value" th:text="${commodity.price}"></span>
                            <span style="float: right" sec:authorize="hasRole('ROLE_SELLER')" th:text="'【已售】'+${commodity.selled}+'/'+${commodity.quantity}"></span>
                        </div>
                        <span class="had" sec:authorize="hasRole('ROLE_CUSTOMER')" th:if="${purchased.contains(commodity)}"><b>已购买</b></span>
                        <span class="had" sec:authorize="hasRole('ROLE_SELLER')" th:if="${commodity.quantity - commodity.selled == 0}"><b>已售罄</b></span>
                    </a>
                    <span class="u-btn u-btn-normal u-btn-xs del" th:data-del="${commodity.id}" sec:authorize="hasRole('ROLE_SELLER')" th:if="${commodity.selled == 0}">删除</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="common/footer :: foot"></div>
<script th:src="@{js/global.js}" type="text/javascript"></script>
<script th:src="@{js/pageIndex.js}" type="text/javascript"></script>
</body>
</html>