<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8"/>
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div th:replace="common/header :: head"></div>
<form class="m-form m-form-ht n-login" id="loginForm" th:action="@{/login}" method='POST' onsubmit="return checkForm()">
    <div class="fmitem">
        <label class="fmlab">用户名：</label>
        <div class="fmipt">
            <input class="u-ipt" name="username" id="username" autofocus/>
        </div>
    </div>
    <div class="fmitem">
        <label class="fmlab">密码：</label>
        <div class="fmipt">
            <input class="u-ipt" type="password" id="input_pwd"/>
            <input type="hidden" name="password" id="md5_pwd"/>
        </div>
    </div>
    <div class="fmitem fmitem-nolab fmitem-btn">
        <div class="fmipt">
            <button type="submit" class="u-btn u-btn-primary u-btn-lg u-btn-block">登 录</button>
        </div>
    </div>
</form>
<div th:replace="common/footer :: foot"></div>
<script th:src="@{js/global.js}" type="text/javascript"></script>
<script th:src="@{js/pageLogin.js}" type="text/javascript"></script>
<script th:src="@{js/md5.js}" type="text/javascript"></script>
</body>
</html>