<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Sale System</title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="/header :: head"></div>
<div class="g-doc" id="settleAccount">
    <div class="m-tab m-tab-fw m-tab-simple f-cb" >
        <h2>已添加到购物车的内容</h2>
    </div>

    <div id="nullProducts"></div>
    <table id="newTable" class="m-table m-table-row n-table g-b3">
    </table>

    <div id="act-btn"><button class="u-btn u-btn-primary" id="back">退出</button>
        <button class="u-btn u-btn-primary" id="Account">结算</button></div>
</div>
<div th:replace="/footer :: foot"></div>
<script th:src="@{js/global.js}" type="text/javascript"></script>
<script th:src="@{js/settleAccount.js}" type="text/javascript"></script>
</body>
</html>

