<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>Sale System</title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="/header :: head"></div>
<div class="g-doc">
    <div class="n-show f-cb" id="showContent">
        <div class="img"><img th:src="${commodity.image}" th:alt="${commodity.title}" ></div>
        <div class="cnt">
            <h2 th:text="${commodity.title}"></h2>
            <p class="summary" th:text="${commodity.summary}"></p>
            <div class="price">
                <span class="v-unit">¥</span><span class="v-value" th:text="${commodity.price}"></span>
            </div>


            <span type="hidden" id="isLogin" sec:authorize="isAuthenticated()"></span>
            <!-- 卖家 -->
            <div class="num" sec:authorize="hasRole('ROLE_SELLER')">
                已售数量：<span style="margin-right:24px;" th:text="${commodity.selled}"></span>
                库存量：<span th:text="${commodity.quantity - commodity.selled}"></span>
            </div>
            <div class="oprt f-cb" sec:authorize="hasRole('ROLE_SELLER')">
                <a th:href="'/edit?id='+${commodity.id}" class="u-btn u-btn-primary">编 辑</a>
            </div>

            <!-- 买家及匿名用户 -->

            <!-- 购买数量 -->
            <div class="num" sec:authorize="!hasRole('ROLE_SELLER')" >
                购买数量：
                <span id="plusNum" class="lessNum"><a>-</a></span>
                <span class="totalNum" id="allNum">1</span>
                <span id="addNum" class="moreNum"><a>+</a></span>
                <span style="margin-left: 24px">
                    【库存量：<span id="quantity" th:text="${commodity.quantity - commodity.selled}"></span>】
                </span>
            </div>

            <div class="oprt f-cb" sec:authorize="!hasRole('ROLE_SELLER')">
                <!-- 直接购买 -->
                <button
                        class="u-btn u-btn-primary" id="buy"
                        th:data-id="${commodity.id}"
                        th:data-title="${commodity.title}"
                        th:data-price="${commodity.price}"
                        th:data-stock="${commodity.quantity - commodity.selled}">
                    购买
                </button>
                <!-- 加入购物车 -->
                <button
                        class="u-btn u-btn-primary" id="add"
                        th:data-id="${commodity.id}"
                        th:data-title="${commodity.title}"
                        th:data-price="${commodity.price}"
                        th:data-stock="${commodity.quantity - commodity.selled}">
                    加入购物车
                </button>
            </div>
            <span class="buyprice" sec:authorize="hasRole('ROLE_CUSTOMER')" th:if="${recentPrice != 0}" th:text="'最近购买价格：¥'+${recentPrice}"></span>
        </div>
    </div>
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <h2>详细信息</h2>
    </div>
    <div class="n-detail" th:text="${commodity.detail}">
    </div>
</div>
<div th:replace="/footer :: foot"></div>
<script th:src="@{js/global.js}" type="text/javascript"></script>
<script th:src="@{js/pageShow.js}" type="text/javascript"></script>
</body>
</html>